.root {
    --loader-size: 48px;
    --loader-line-size: calc(var(--loader-size) / 12);

    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    display: inline-block;
    border-top: var(--loader-line-size) solid var(--inverted-bg-color);
    border-right: var(--loader-line-size) solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.root::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    border-bottom: var(--loader-line-size) solid var(--primary-color);
    border-left: var(--loader-line-size) solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
